{{#if message}}
<div>{{message}}</div>
{{/if}}
{{#if deleteSuccess}}
<div>{{deleteSuccess}}</div>
{{/if}}
{{#if deletedError}}
<div>{{deletedError}}</div>
{{/if}}
<div>
  <a href="/todos/new">Create</a>
</div>
<ul>
  {{#each todos}}
  <li>
    <input type="checkbox" disabled {{#if this.isComplete}} checked{{/if}}> <!--此為checkbox圖示，預設不可編輯-->
    {{this.name}}
    <a href="/todos/{{this.id}}">detail</a>
    <a href="/todos/{{this.id}}/edit">edit</a>
    <form action="/todos/{{this.id}}?_method=DELETE" method="POST" style="display: inline">
        <button type="'submit">delete</button>
    </form>
  </li>
  
  {{/each}}
</ul>